### CNN_Task02

##### 표정 분류

https://drive.google.com/file/d/1lpwQNwijBfaSr8knSNHKWu5KUmzYWU9d/view?usp=drive_link

In [4]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

root = './datasets/face/original/'

image_data_generator = ImageDataGenerator(rescale=1./255)
generator = image_data_generator.flow_from_directory(root, target_size=(150, 150), batch_size=20, class_mode='categorical')

print(generator.class_indices)
print(generator.classes)

Found 28709 images belonging to 7 classes.
{'angry': 0, 'disgust': 1, 'fear': 2, 'happy': 3, 'neutral': 4, 'sad': 5, 'surprise': 6}
[0 0 0 ... 6 6 6]

In [8]:
import pandas as pd

face_df = pd.DataFrame({'file_paths': generator.filepaths, 'targets': generator.classes})
face_df.file_paths = face_df.file_paths.apply(lambda file_path: file_path.replace('\\', '/'))
face_df

                                              file_paths  targets
0      ./datasets/face/original/angry/Training_101184...        0
1      ./datasets/face/original/angry/Training_101204...        0
2      ./datasets/face/original/angry/Training_101313...        0
3      ./datasets/face/original/angry/Training_101615...        0
4      ./datasets/face/original/angry/Training_102183...        0
...                                                  ...      ...
28704  ./datasets/face/original/surprise/Training_999...        6
28705  ./datasets/face/original/surprise/Training_999...        6
28706  ./datasets/face/original/surprise/Training_999...        6
28707  ./datasets/face/original/surprise/Training_999...        6
28708  ./datasets/face/original/surprise/Training_999...        6

[28709 rows x 2 columns]

In [12]:
from sklearn.model_selection import train_test_split

train_images, validation_images, train_targets, validation_targets = train_test_split(face_df.file_paths, face_df.targets, stratify=face_df.targets, test_size=0.2, random_state=124)
print(train_targets.value_counts())
print(validation_targets.value_counts())

targets
3    5772
4    3972
5    3864
2    3277
0    3196
6    2537
1     349
Name: count, dtype: int64
targets
3    1443
4     993
5     966
2     820
0     799
6     634
1      87
Name: count, dtype: int64

In [20]:
import shutil
import os.path

root = './datasets/face/'

for file_path in train_images:
    face_dir = file_path[file_path.find('original/') + 9: file_path.rindex('/') + 1]
    destination = os.path.join(root + 'train/', face_dir)
    
    if not os.path.exists(destination):
        os.mkdir(destination)
    
    shutil.copy2(file_path, destination)

In [21]:
import shutil
import os.path

root = './datasets/face/'

for file_path in validation_images:
    face_dir = file_path[file_path.find('original/') + 9: file_path.rindex('/') + 1]
    destination = os.path.join(root + 'validation/', face_dir)
    
    if not os.path.exists(destination):
        os.mkdir(destination)
    
    shutil.copy2(file_path, destination)